* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
}
nav {
    background: rgba(38, 37, 37, 0.7);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
    z-index: 10; 
    }

nav h1 {
    font-size: 2rem;
    transition: color 0.3s ease;
    color: #f1ebeb;
    }

nav ul {
    list-style: none;
    display: flex;
    }

nav ul li {
    margin-left: 20px;
    position: relative; 
}

nav ul li a {
    color: rgb(211, 202, 202);
    text-decoration: none;
    padding: 10px 15px; 
    transition: background 0.3s ease;
}

nav ul li a:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px; 
}
.form-control {
    border-radius: 20px; /* Rounded corners */
    border: 2px solid white; /* Green border */
    padding: 10px;
}

/* Customizing the search button */
.btn-outline-success {
    color: black;
    transition: all 0.3s ease;
}

.btn-outline-success:hover {
    background-color: black;
    color: #fff;
}
.searchbar{
    width: 200px;
}